.pokemon-card-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1rem;
    color: #FFF;
    background-color: rgba(0,0,0,0.7);
    /*display: flex;
    align-items: center;*/
    display: none;
}

.pokemon-card {
    height: 90%;
    width: 100%;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 0px rgba(166,173,172,0.5);
    display: flex;
    flex-direction: column;
}

.pokemon-card__top {
    margin-top: 1rem;
    margin-left: 1.5rem;
    height: 50%;
    width: 80%;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
}

.pokemon-card__top__button {
    width: 20%;
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 0.25rem;
    background-color: inherit;
    color: white;
    margin: 1.5rem 0;
}

.pokemon-card__top__button:hover {
    background-color: rgba(128, 128, 128, 0.452);
}

.pokemon-card__top__id {
    font-size: 1.5rem;
}

.pokemon-card__top__name {
    font-size: 1.75rem;
    text-transform: capitalize;
}

.pokemon-card__top__details {
    display: flex;
    justify-content: space-between;
}

.pokemon-card__top__details__types {
    list-style: none;
    margin-top: 1rem;
}

.pokemon-card__top__details__types__type {
    border: 1px solid #FFF;
    border-radius: 1rem;
    font-size: 0.800rem;
    width: 4.0625rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    text-align: center;
}

.pokemon-card__top__details__sprite {
    width: 100%;
    height: 260px;
}


/*pokemon bottom detail*/
.pokemon-card__bottom {
    margin-top: 1rem;
}

.pokemon-card__bottom__menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.pokemon-card__bottom__menu__item {
    padding: 0.5rem;
    font-size: 1.25rem;
}

.pokemon-card__bottom__menu__item:hover {
    border-bottom: 3px solid #FFF;
}

.pokemon-card__bottom__info {
    margin-top: .5rem;
    padding: .625rem 1rem;
    /*justify-content: flex-start;*/
}

.pokemon-card__bottom__info--moves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
}

.pokemon-card__bottom__info--status {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pokemon-card__bottom__info--moves__move {
    font-size: 1.25rem; 
    font-weight: normal;
    text-align: center;
    border: 1px solid gray;
    border-radius: 1.5rem;
    padding: .5rem .25rem;
}

.pokemon-card__bottom__info--status__fields {
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
}

.pokemon-card__bottom__info--status__description {
    overflow: scroll;
    border: 1px solid rgba(128, 128, 128, 0.705);
    border-radius: 1.rem;
    padding: 0.5rem 0.25rem;
    height: 200px;
}



