.pokemon-card {
    border-radius: 1rem; 
    background-color: #78c850;
    padding: 1rem;
    box-shadow: 3px 3px 5px 0px rgba(166,173,172,1);
}


.pokemon-detail-top {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.pokemon-detail-top 
.name {
    font-size: 1.35rem;
}

.pokemon-detail-top
.details {
    display: flex;
    justify-content: space-between;
}

.pokemon-detail-top 
.details 
.types {
    list-style: none;
    margin-top: 1rem;
}

.pokemon-detail-top 
.details 
.types
.type {
    border: 1px solid #FFF;
    border-radius: 1rem;
    font-size: 0.800rem;
    width: 4.0625rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    text-align: center;
}

.pokemon-detail-top 
.details 
img {
    width: 100%;
    height: 250px;
}


/*pokemon bottom detail*/
.pokemon-detail-bottom {
    margin-top: 1rem;
}

.pokemon-detail-bottom
.pokemon-card-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.pokemon-detail-bottom
.pokemon-card-menu
.menu-item {
    padding: 0.5rem;
}

.pokemon-detail-bottom
.pokemon-card-menu
.menu-item:hover {
    border-bottom: 3px solid #FFF;
}

.pokemon-detail-bottom
.item-detail {
    font-weight: 300;
    padding: .625rem 1rem;
    justify-content: flex-start;
}
